.modal-content {
    padding: 10px;
    background: #cbd39e;
    margin: -5px;
    height: 300px;
}

.title-input {
    padding: 5px;
    width: 80%;
    border: none;
    font-size: 20px;
    background: #cbd39e;
}
.title-input:focus {
    outline: none;
}

.note-input {
    padding: 5px;
    width: 100%;
    height: inherit;
    border: none;
    font-size: 16px;
    background: #cbd39e;
    resize: none;
}
.note-input:focus {
    outline: none;
}

.modal-function {
    padding: 5px;
    margin-left: 3px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    transition-duration: 0.4s;
    background: #d7e09b;
    border: 1px solid #7e8183;
}
.modal-function:hover {
    background: #5e9683;
    color: white;
}

.modal-footer {
    padding: 3px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #7e8183;
    background: #cbd39e;
}