.App {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #b9b880;
}

.search-bar {
    font-size: 16px;
    margin: 5px;
    padding: 5px;
    border: 2px solid #D3D3D3;
    width: 60vw;
    background: #D3D3D3;
}

.cards {
    display: flex;
    width: 90vw;
    flex-wrap: wrap;
    padding: 5px;
    background: #b9b880;
}

.separator {
    border: 1px solid;
    width: 80%;
    margin: 10px;
}

.new-note {
    border: 2px solid #D3D3D3;
    background: #D3D3D3;
    color: #a3a3a3;
    width: 20%;
    cursor: text;
    padding: 5px;
}
.new-note:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}